<h1>Card</h1>

<div id="card">
{{#if courses.length}}
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Count</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each courses}}
    <tr>
        <th>{{title}}</th>
        <th>{{count}}</th>
        <th>
            <button class="btn btn-small js-remove" data-id="{{id}}">Delete</button>
        </th>
    </tr>
    {{/each}}
    </tbody>
</table>

<p><strong>Price: </strong> <span class="price">{{price}}</span></p>

<form action="/orders" method="POST">
 <button class="btn" type="submit">Create order</button>
</form>

{{else}}
<p>The card is empty</p>
{{/if}}

</div>
