<h1>Profile</h1>



<div class="row">
    <div class="col s6">
    {{#if user.avatarUrl}}
        <img class="avatar" src="{{user.avatarUrl}}" alt="avatar">
        {{else}}
        <p>There is no avatar</p>
        {{/if}}
    </div>

    <div class="col s6">
        <p>Your email: <strong>{{user.email}}</strong></p>

        <form action="/profile" method="post" enctype="multipart/form-data">
            <div class="input-field">
                <input id="name" type="text" name="name" class="validate" required value={{user.name}}>
                <label for="name">Name</label>
                <span class="helper-text" data-error="Fill the name"></span>
            </div>
            <div class="file-field input-field">
                <div class="btn">
                    <span>Avatar</span>
                    <input type="file" name="avatar">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button class="btn btn-primary" type="submit">Change</button>
        </form>
    </div>
</div>
